@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f7f7f7;
}
.wrapper{
    background-color: #fff;
    width: 450px;
    border-radius: 10px;
    box-shadow: 0 0px 128px 0 rgba(0,0,0,0.1), 0 32px 64px -48px rgba(0,0,0,0.5);
}

/* Signup Form */
.form{
    padding: 25px 30px;
}
.form header{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
}
.form form{
    margin: 20px 0;
}
.form form .error-text{
    background-color: #f8d7da;
    color: #721c24;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #f5c6cb;
    display: none;
}
.form form .names{
    display: flex;
}
.form form .names .field:first-child{
    margin-right: 10px;
}
.form form .names .field:last-child{
    margin-left: 10px;
}
.form form .field{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    position: relative;
}
.form form .field label{
    margin-bottom: 2px;
}
.form form .input input{
    height: 40px;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 10px;
    outline: none;
}
.form form .field i{
    position: absolute;
    right: 15px;
    top: 70%;
    transform: translateY(-50%);
    color: #ccc;
    cursor: pointer;
}
.form form .field i.active::before{
    content: '\f070';
    color: #333;
}
.form form .image input{
    font-size: 17px;
}
.form form .submit input{
    margin-top: 13px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    height: 45px;
    border: none;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
}
.form .link{
    text-align: center;
    margin: 10px 0;
    font-size: 17px;
}
.form .link a{
    color: #333;
}
.form .link a:hover{
    text-decoration: underline;
}


/* Users Section */
.users{
    padding: 25px 30px;
}
.users header,.users-list a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #e6e6e6;
}
.wrapper img{
    border-radius: 50%;
    object-fit: cover;
}
.users header .content,.users-list a .content{
    display: flex;
    align-items: center;
}
.users header .content span, .users-list a .content span{
    font-size: 18px;
    font-weight: 500;
    color: #000;
}
.users header .content img{
    width: 50px;
    height: 50px;
    margin-right: 15px;
}
.users header .logout{
    background-color: #333;
    color: #fff;
    padding: 7px 15px;
    font-size: 17px;
    border-radius: 5px;
}
.users .search{
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative
}
.users .search .text{
    font-size: 18px;
}
.users .search input{
    position: absolute;
    width: calc(100% - 50px);
    height: 42px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
    padding: 0 13px;
    border-radius: 5px 0 0 5px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.users .search input.active{
    opacity: 1;
    pointer-events: auto;
}
.users .search button{
    width: 47px;
    height: 42px;
    background-color: #fff;
    color: #333;
    outline: none;
    border: none;
    font-size: 17px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: all 0.2s ease;
}
.users .search button.active{
    background-color: #333;
    color: #fff;
}
.users .search button.active i::before{
    content: '\f00d';
}
.users-list{
    max-height: 350px;
    overflow-y: auto;
}
.users-list::-webkit-scrollbar, .chat-box::-webkit-scrollbar{
    width: 0px;
}
.users-list a{
    padding-right: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f1f1f1;
}
.users-list a:last-child{
    border: none;
    margin-bottom: 0px;
}
.users-list a .content img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.users-list a .content p{
    color: #67676a;
    font-size: 15px;
}
.users-list a .content p span{
    color: blue;
    font-size: 15px;
}
.users-list a .status-dot{
    font-size: 12px;
    color: #468669;
}
.users-list a .status-dot.offline{
    color: #ccc;
}

/* Char Area Section */
.chat-area header{
    display: flex;
    align-items: center;
    padding: 18px 30px;
}
.chat-area header .back-icon{
    font-size: 18px;
    color: #333;
}
.chat-area header img{
    width: 45px;
    height: 45px;
    margin: 0 10px;
}
.chat-area header span{
    font-size: 17px;
    font-weight: 500;
}
.chat-area header .dropdown{
    margin-left: auto;
    color: #333;
    cursor: pointer;
    position: relative;
    
}
.chat-area header .dropdown i{
    font-size: 20px;
}
.chat-area header .dropdown .dropdown-list.show{
    transform: scale(1);
}
.chat-area header .dropdown .dropdown-list{
    transform: scale(0);
    transform-origin: top right;
    transition: transform 0.2s ease;
    position: absolute;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    right: 0;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.chat-area header .dropdown .dropdown-list .dropdown-item{
    font-size: 17px;
    color: #333;
    padding: 5px 20px;
}
.chat-area header .dropdown .dropdown-list .dropdown-item:hover{
    background-color: #f8f9fa;
    color: #16181b;
}
.chat-box{
    height: 500px;
    overflow-y: auto;
    background-color: #f7f7f7;
    padding: 10px 30px 20px 30px;
    box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 5%), inset 0 -32px 32px -32px rgb(0 0 0 / 5%);
}
.chat-box .chat{
    margin: 15px 0;
}
.chat-box .chat p{
    word-wrap: break-word;
    padding: 8px 16px;
    box-shadow: 0 0 32px rgb(0 0 0 / 8%), 0 16px 16px -16px rgb(0 0 0 / 10%);
}
.chat-box .chat p img{
    border-radius: 0;
    width: 150px;
    height: auto;
    vertical-align: bottom;
}
.chat-box .chat p.center{
    text-align: center;
}
.chat-box .outgoing{
    display: flex;
}
.chat-box .outgoing .details{
    margin-left: auto;
    width: calc(100% - 130px);
}
.chat-box .outgoing p{
    background-color: #333;
    color: #fff;
    border-radius: 18px 18px 0 18px;
}
.chat-box .outgoing p a{
    color: #fff;
    text-decoration: underline;
}
.chat-box .outgoing p input{
    background-color: #fff;
}
.chat-box p i{
    font-size: 20px;
    vertical-align: middle;
    cursor: pointer;
}
.chat-box p span{
    vertical-align: middle;
    margin: 0 2px;
    cursor: text;
    width: 45px;
    display: inline-block;
}
.chat-box p input{
    vertical-align: middle;
    margin: 0 2px;
    cursor: pointer;
    -webkit-appearance: none;
    background-color: #333;
    height: 2px;
    border-radius: 10px;
}
.chat-box p input::-webkit-slider-thumb{
    -webkit-appearance: none;
    height:11px;
    width:11px;
	border-radius:100%;
	cursor:pointer;
    background-color: red;
    transform: scale(1);
}
.chat-box p input:active::-webkit-slider-thumb{
    transform: scale(1.2);
}
.chat-box .incoming{
    display: flex;
    align-items: flex-end;
}
.chat-box .incoming img{
    width: 35px;
    height: 35px;
}
.chat-box .incoming .details{ 
    margin-left: 10px;
    width: calc(100% - 130px);
    margin-right: auto;
}
.chat-box .incoming p{
    background-color: #fff;
    border-radius: 18px 18px 18px 0;
}
.chat-box .incoming p a{
    color: #333;
    text-decoration: underline;
}
.chat-area .typing-area{
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
.chat-area .typing-area input{
    font-size: 17px;
    height: 45px;
    padding: 0 13px;
    width: calc(100% - 58px);
    outline: none;
    border:  1px solid #ccc;
    border-radius: 5px;
}
.chat-area .typing-area input:focus{
    flex: 0 0 calc(100% - 58px);
}
.chat-area .typing-area button{
    width: 55px;
    outline: none;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 0 5px 5px 0;
    font-size: 19px;
    cursor: pointer;
}
.chat-area{
    position: relative;
}
.typing-box{
    position: absolute;
    bottom: 100px;
    left: 34px;
    display: none;
}
.typing-box.active{
    display: block;
}
.typing-box.inactive{
    display: none;
}

.typing {
  position: relative;
}
.typing span {
    content: '';
    animation: blink 1.5s infinite;
    animation-fill-mode: both;
    height: 10px;
    width: 10px;
    background: #3b5998;
    position: absolute;
    left:0;
    top:0;
    border-radius: 50%;
  }
.typing span:nth-child(2) {
    animation-delay: .2s;
    margin-left: 15px;
  }
.typing span:nth-child(3) {
    animation-delay: .4s;
    margin-left: 30px;
  }

@keyframes blink {
  0% {
    opacity: .1;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .1;
  }
}

/* Show Emoji */
.chat-box .incoming:hover .emoji {
    display: block;
}
.emoji {
    margin-left: auto;
    color: #333;
    cursor: pointer;
    position: relative;
    display: none;
}

.emoji i {
    font-size: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
}

.emoji .emoji-list.show {
    transform: scale(1);
}

.emoji .emoji-list {
    transform: scale(0);
    transform-origin: bottom right;
    transition: transform 0.2s ease;
    position: absolute;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    top: -40px;
    right: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.emoji .emoji-list .emoji-item {
    font-size: 23px;
    color: #333;
}

.emoji .emoji-list .emoji-item:hover {
    background-color: #f8f9fa;
    color: #16181b;
}

.details {
    position: relative;
}

.emoji-wrapper {
    position: absolute;
    right: -33px;
    top: 40%;
}

.show-react {
    position: absolute;
    right: -10px;
    bottom: -9px;
    font-size: 20px;
    background: #f7f7f7;
    border-radius: 50%;
}